html body {
    background-image: url("https://images5.alphacoders.com/876/thumb-1920-876590.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.App {
    text-align: center;
    font-size: 2em;
}

.head {
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    text-shadow: 2px 2px rgba(40, 51, 15, 0.37);
    color: rgba(157, 200, 59, 0.37);
}

.imageHead {
    width: 55%;
    margin-bottom: -50px;
    padding-bottom: 0px;
}
